.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.weather-app {
  padding: 20px;
  align-items: center;
  border: 1px solid #0dcaf0;
  border-radius: 10px;
}

.current-data {
  text-align: left;
  /* padding-top: 15px; */
  color: #0ba7c6;
  font-size: 15px;
}
.current-weather {
  text-align: left;
  font-size: 12px;
}
.forecast {
  color: #878787;
}
.form-control {
  font-size: 14px;
}
.btn-info {
  font-size: 14px;
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  color: #0cbadd;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 0;
}
img {
  max-width: 50px;
  margin-left: 30px;
}
h2 {
  text-align: center;
  padding: 20px;
  color: #6b6767;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
}

#tempType {
  font-weight: 400;
}
#githubLink {
  color: #0ba7c6;
  text-decoration: none;
}
#currentCity {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}
